<main>
  <header>
    <h1>Orders</h1>
  </header>
  <section>
    <div>
      <p id="head-title">Agency Name - Campaign Address, Suburb</p>
    </div>
    <div class="content-container">
      <div class="first-line-container">
        <div>
          <p>100 x A4 Brochures/Satin</p>
        </div>
        <div>
          <p>Download Artwork | Change Status | Printed</p>
        </div>
      </div>
      <div class="second-line-container">
        <div>
          <p>150 x DL Flyers/Gloss Laminated</p>
        </div>
        <div>
          <p>Download Artwork | Change Status | Approved</p>
        </div>
      </div>
    </div>
  </section>
</main>
