<main>
  <header>
    <h1>Orders</h1>
  </header>
  <section>
    <div>
      <p id="head-title">Agency Name - Campaign Address, Suburb</p>
    </div>
    <div class="content-container">
      <div class="first-line-container">
          <p>100 x A4 Brochures/Satin</p>
          <p>Download Artwork | Change Status | <span class="printed">Printed</span></p>
      </div>
      <div class="second-line-container">
          <p>150 x DL Flyers/Gloss Laminated</p>
          <p>Download Artwork | Change Status | <span class="approved">Approved</span></p>
      </div>
    </div>
  </section>
    <section>
    <div>
      <p id="head-title">Agency Name - Campaign Address, Suburb</p>
    </div>
    <div class="content-container">
      <div class="first-line-container">
          <p>100 x A4 Brochures/Satin</p>
          <p>Download Artwork | Change Status | <span class="printed">Printed</span></p>
      </div>
      <div class="second-line-container">
          <p>150 x DL Flyers/Gloss Laminated</p>
          <p>Download Artwork | Change Status | <span class="approved">Approved</span></p>
      </div>
    </div>
  </section>
    <section>
    <div>
      <p id="head-title">Agency Name - Campaign Address, Suburb</p>
    </div>
    <div class="content-container">
      <div class="first-line-container">
          <p>100 x A4 Brochures/Satin</p>
          <p>Download Artwork | Change Status | <span class="printed">Printed</span></p>
      </div>
      <div class="second-line-container">
          <p>150 x DL Flyers/Gloss Laminated</p>
          <p>Download Artwork | Change Status | <span class="approved">Approved</span></p>
      </div>
    </div>
  </section>
    <section>
    <div>
      <p id="head-title">Agency Name - Campaign Address, Suburb</p>
    </div>
    <div class="content-container">
      <div class="first-line-container">
          <p>100 x A4 Brochures/Satin</p>
          <p>Download Artwork | Change Status | <span class="printed">Printed</span></p>
      </div>
      <div class="second-line-container">
          <p>150 x DL Flyers/Gloss Laminated</p>
          <p>Download Artwork | Change Status | <span class="approved">Approved</span></p>
      </div>
    </div>
  </section>
    <section>
    <div>
      <p id="head-title">Agency Name - Campaign Address, Suburb</p>
    </div>
    <div class="content-container">
      <div class="first-line-container">
          <p>100 x A4 Brochures/Satin</p>
          <p>Download Artwork | Change Status | <span class="printed">Printed</span></p>
      </div>
      <div class="second-line-container">
          <p>150 x DL Flyers/Gloss Laminated</p>
          <p>Download Artwork | Change Status | <span class="approved">Approved</span></p>
      </div>
    </div>
  </section>
    <section>
    <div>
      <p id="head-title">Agency Name - Campaign Address, Suburb</p>
    </div>
    <div class="content-container">
      <div class="first-line-container">
          <p>100 x A4 Brochures/Satin</p>
          <p>Download Artwork | Change Status | <span class="printed">Printed</span></p>
      </div>
      <div class="second-line-container">
          <p>150 x DL Flyers/Gloss Laminated</p>
          <p>Download Artwork | Change Status | <span class="approved">Approved</span></p>
      </div>
    </div>
  </section>
</main>
